<nav class="navbar navbar-expand-lg " style="background-color: 
#A4CDED;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" alt="check your network connections">
        <p>Career Bridge</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-heght">
          <li class="nav-item nav-icon">
            <a class="nav-link nav" href="#">
                <img src="/img/icon2.png" alt="network connection lose">
                <p>Company</p>
            </a>
          </li>
          <li class="nav-item nav-icon">
            <a class="nav-link nav" href="#">
                <img src="/img/icon1.png" alt="network connection lose">
                <p>Job</p>
            </a>
          </li>
          <li class="nav-item" style="display: flex; align-items: center; justify-content: center;">
            <a class="btn btn-light" href="/login" style="border-radius: 25px;">LogIn</a>
          </li>
          <li class="nav-item" style="display: flex; align-items: center; justify-content: center;">
            <a class="btn btn-light" href="/signup" style="border-radius: 25px;">SignUp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>