
<% layout("/layout/boilerplate") -%>
<div class="choose">
    <div class="text">
        <h3>Why did you Choose us.?</h3>
        <p>Choosing our platform means opting for a seamless networking experience tailored for professionals. Our intuitive design and advanced features simplify connections, job searches, and career growth. We prioritize user privacy and data security, ensuring a safe and trustworthy environment. Join us to elevate your professional journey with unmatched support and resources.</p>
    </div>
    <div class="images">
        <img src="/img/choose.png" alt="please check you network connection">
    </div>
</div>

<div class="jobs">
    <div class="heading">
        <h2>Find the right job or intership for you</h2>
    </div>
    <div class="tools">
        <div class="tool">Business Development</div>
        <div class="tool">Finance</div>
        <div class="tool">Retail Associate</div>
        <div class="tool">Enginnering</div>
        <div class="tool">Marketing</div>
        <div class="tool">Information Technology</div>
        <div class="tool">Community manager</div>
        <div class="tool">Direct of Product Management</div>
        <div class="tool">Design Intern</div>
        <div class="tool">Creative Director</div>
        <div class="tool">UI/UX Designer</div>
        <div class="tool">Executive Assistant</div>
        <div class="tool">User Resercher</div>
    </div>
</div>


<div class="post-job">
    <div class="text-job">
        <h3>Post your company job for millions of people to see</h3>
    </div>
    <div class="buttons-job">
        <div class="tool">Post a job</div>
    </div>
</div>

<div class="connectcopany">
    <div class="helps">
        <h2>Connect with Company who can help</h2>
        <div class="tool">Find Company you know</div>
    </div>
    <div class="img">
        <img src="/img/after.png" alt="check your network">
    </div>
</div>


<div class="navigate">
    <div class="questions">
        <h2>Who is <span style="color: #005eff;">Career Bridge</span> for..?</h2>
        <p>Anyone looking to navigate their professional life.</p>
    </div>
    <div class="ans">
        <div class="p">
            <p>Find a new job or intership</p>
        </div>
        <div class="i">
            <i class="fa-solid fa-arrow-right" style="color: #005eff;"></i>
        </div>
    </div>
</div> 

<div class="final-navbar">
    <div class="browse">
        <div class="generale">
            <div class="headings">General</div>
            <div class="features">SignUp</div>
            <div class="features">About</div>
            <div class="features">Careers</div>
        </div>
        <div class="browse-career">
            <div class="headings">Browse Career Bridge</div>
            <div class="features">Jobs</div>
            <div class="features">Services</div>
            <div class="features">Top campanies Hub</div>
        </div>
    </div>

    <div class="final-image">
        <img src="/img/final.png" alt="your network was slow">
    </div>
</div>