<% layout("/layout/boilerplate") -%>
<div class="back-icon">
    <a href="/login"><i class="fa-solid fa-arrow-left"></i></i></a>
</div>
<div class="main-content">
    <div class="signup">
        <h3>For Company Login</h3>
        <form action="/login-company" method="post" class="needs-validation" novalidate>

            <label for="email" class="form-label">company Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required>
            <div class="invalid-feedback">
                plz Enter your email.
            </div>

            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" class="form-control"
                required>
            <div class="invalid-feedback">
                plz Enter your password.
            </div>
            <button class="btn" style="background-color: #A4CDED;">Login</button>
        </form>
    </div>
</div>
    