<% layout("/layout/boilerplate") -%>
<div class="back-icon">
    <a href="/"><i class="fa-solid fa-arrow-left"></i></i></a>
</div>
<div class="main-content">
    <div class="signup">
        <form action="/login" method="post">
            <label for="suggestion" class="form-label">Login as Company or Intern : </label>
            <select id="suggestion" name="suggestion" class="form-control">
                <option value="company">company</option>
                <option value="intern">intern</option>
            </select>
            <button class="btn" style="background-color: #A4CDED;">confirm</button>
        </form>
    </div>
</div>
