<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup as Intern</title>
</head>
<body>
    <h1>signup as Intern</h1>
</body>
</html>