.container {
    display: flex;
    flex-direction: column;

}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(197 197 197 / 23%);
}

.signup {
    width: 500px;
    padding: 0.3rem;
    border-radius: 10px;
    border: 0.6px solid rgb(151, 145, 145);
    background-color: white;
    margin: 0.2rem;
    margin-top: 2rem;
}

.signup button {
    margin-top: 0.8rem;
    width: 100%;
    background-color: rgb(77 129 255 / 75%) !important;
}

.signup h3 {
    text-align: center;
    margin: 1rem 0 1rem 0;
    color: rgb(77 129 255 / 75%)
}

.signup h4 {
    margin-top: 2rem;
    color: rgb(77 129 255 / 75%);
}

.signup p {
    text-align: center;
    margin-top: 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 1rem
}

.navbar-brand img {
    height: 69px !important;
    width: 68px !important;
    margin: 0.5rem;
}

.navbar-brand p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #005eff;
}

.navbar-nav {
    display: flex !important;
    flex-direction: row;
}

.navbar-nav li {
    margin: 1rem;
}


.navbar-heght {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}

.nav-icon img {
    height: 40px;
    width: 40px;
    align-items: center;
}

.nav-icon i {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon p {
    text-align: center;
}

.footer {
    background-color: #A4CDED;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.footer li {
    list-style: none;
    margin: 1rem;
}

.choose {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    width: 100%;
}

.text {
    margin: 0.4rem;
    padding: 0.4rem;
    width: 509px;
}

.text p {
    margin-top: 3rem;
}

.text h3 {
    color: #005eff;
    font-weight: 600;
    font-size: 2.2rem;
}

.images {
    margin: 0.4rem;
    margin-left: 1rem;
    padding: 0.4rem;
    width: 421px;
}

.images img {
    height: 311px;
    width: 400px;
}

.jobs {
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-top: 3rem;
    justify-content: center;
    width: 100%;
}

.heading {
    margin: 0.4rem;
    padding: 0.4rem;
    width: 439px;
    color: #005eff;
    margin-top: -168px;
}

.heading h2 {
    font-size: 2.3rem;
}

.tools {
    margin: 0.4rem;
    padding: 0.4rem;
    width: 421px;
    display: flex;
    flex-wrap: wrap;
    width: 509px;
}

.tool {
    color: #005eff;
    padding: 0.8em;
    border: 2px solid #005eff;
    border-radius: 26px;
    margin: 0.3rem;
}

.post-job {
    display: flex;
    width: 100%;
    margin: 1rem;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #A4CDED;
    ;
}

.text-job {

    margin: 0.4rem;
    padding: 0.4rem;
    width: 787px;
}

.text-job h3 {
    font-size: 3rem;
}

.buttons-job {
    margin: 0.4rem;
    padding: 0.4rem;

}

.connectcopany {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.helps {
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    padding: 0.4rem;
    width: 533px;
}

.helps h2 {
    font-size: 3rem;
    color: #005eff;
}

.helps .tool {
    width: 60%;
    margin-top: 3rem;
    text-align: center;
}

.connectcopany img {
    margin: 0.4rem;
    padding: 0.4rem;
}

.navigate {
    margin-top: 3rem;
    width: 100%;
    background-color: #A4CDED;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.questions {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem;
}

.questions h2 {
    font-weight: 700;
}

.questions p {
    color: rgb(239, 59, 59);
    font-size: 1.3rem;
}

.ans {
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.ans p {
    margin-bottom: 0;
}

.ans i {
    margin-left: 1rem;
}

.final-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.browse {
    padding: 0.5rem;
    display: flex;
    margin: 1rem;
}

.browse .headings {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.browse .features {
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.generale {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.browse-career {
    margin: 1rem;
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.final-image {
    margin: 1rem;
}

.back-icon {
    margin-top: 3rem;
    margin-left: 17rem;
}

.back-icon i {
    font-size: 1.4rem;
}

.logo-company img {
    height: 45px;
    width: 45px;
    margin: 1rem;
}

.profile {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 1rem;
}

.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.company-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .logo-company img {
        height: 60px;
        width: 60px;
        margin: 0;
    }

    .profile {
        height: 60px;
        width: 60px;
        margin: 0;
    }

    .profile img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .btn-outline-success {
        margin: 0 0.1rem 0 0.1rem;
    }
}

.company-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10pz;
    border-radius: 10px;
}

.company-list .image {
    margin: 0 0.5rem 0 0.5rem;
}

.company-list .image img {
    height: 94px;
    width: 92px;
    border-radius: 10px;
}

.margin-bitton {
    margin-bottom: 0;
}

.forward-icon {
    margin-left: 30rem;
}

.forward-icon i {
    color: #A4CDED;
    font-size: 2rem;
}

.details {
    margin-left: 1rem;
    width: 30%;
}

@media (max-width: 500px) {
    .forward-icon {
        margin-left: 0rem;
        margin-left: 0.1rem
    }

    .forward-icon i {
        color: #A4CDED;
        font-size: 1.2rem;
    }

    .details {
        margin-left: 0rem;
        width: auto;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
    }

    .footer li {
        list-style: none;
        margin: 1rem;
        font-size: small;
    }
}

.logo-profile img {
    height: 45px;
    width: 45px;
    margin: 1rem;
}


.logo-only img {
    height: 45px;
    width: 45px;
    margin: 0.4rem;
}

.all-details {
    border-radius: 10px;
    margin-top: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttom-margin {
    margin-bottom: 0;
}

.first-section {
    margin: 0.4rem;
}

.first-section img {
    height: 150px;
    padding: 0.4rem;
    width: 150px;
}

.second-section {
    margin: 0.4rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-icon-company-profile {
    margin-top: 3rem;
    margin-left: 4rem;
}

.back-icon-company-profile i {
    font-size: 1.4rem;
}

.company-overview {
    border-radius: 10px;
    margin-top: 2rem;
    background-color: white;
}

.name {
    margin: 1rem;
    padding: 0.4rem;
    text-align: center;
}

.name h2 {
    text-decoration: underline;
    color: #005eff;
}

.email {
    margin: 1rem;
    padding: 0.4rem;
}

.website {
    margin: 1rem;
    padding: 0.4rem;
}

.website a {
    text-decoration: none;
    font-weight: 600;
}

.phone {
    margin: 1rem;
    padding: 0.4rem;
}

.phone a {
    text-decoration: none;
    font-weight: 600;
}

.industry {
    margin: 1rem;
    padding: 0.4rem;
}

.size {

    margin: 1rem;
    padding: 0.4rem;
}

.founded {
    margin: 1rem;
    padding: 0.4rem;
}

.Headquarters {
    margin: 1rem;
    padding: 0.4rem;
}

.overview {
    margin: 1rem;
    padding: 0.4rem;
}

.apply {
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1.3rem;
    background-color: white;
}

.apply button {
    border: none;
    border-radius: 10px;
    background-color: #005eff;
    color: white;
}

.apply a {
    width: 100%;
    background-color: #005eff;
}

.details-section {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.img {
    margin: 1rem;
}

.details-section img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.name-details {
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.all {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.edit-profile {
    margin-bottom: 1rem;
}



/* responsive design for index_page */
@media (max-width: 500px) {
    .navbar-brand {
        margin-left: 0rem
    }

    .choose {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        justify-content: center;
        width: 100%;
    }

    .text {
        width: 100%;

    }

    .text p {
        margin-top: 1rem;
    }

    .text h3 {
        color: #005eff;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .images {
        margin: 0;
        margin-left: 0rem;
        padding: 0.4rem;
        width: 100%;
    }

    .images img {
        height: 311px;
        width: 100%;
    }

    .jobs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        margin-top: 0rem;
        justify-content: center;
        width: 100%;
    }

    .heading {
        margin: 0rem;
        padding: 0.4rem;
        width: 100%;
        color: #005eff;
        margin-top: 0;
    }

    .heading h2 {
        font-size: 1.4rem;
    }

    .tools {
        margin-top: 1rem;
        padding: 0.4rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .tool {
        padding: 0.3em;
        margin: 0.2rem;
    }

    .post-job {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0rem;
        padding: 0.4rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        height: 350px;
        background-color: #A4CDED;
        ;
    }

    .text-job {
        margin: 0.4rem;
        padding: 0.4rem;
        width: 100%;
    }

    .text-job h3 {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    .buttons-job {
        margin: 0rem;
        padding: 1rem;
    }

    .connectcopany {
        flex-direction: column;
        width: 100%;
        margin: 0rem;
        margin-top: 0.6rem;
    }

    .helps {
        display: flex;
        flex-direction: column;
        margin: 0rem;
        padding: 0.4rem;
        width: 100%;
    }

    .helps h2 {
        font-size: 1.5rem;
        color: #005eff;
    }

    .helps .tool {
        width: 60%;
        margin-top: 0.2rem;
        text-align: center;
    }

    .connectcopany img {
        margin: 0rem;
        padding: 0.4rem;
        width: 100%;
    }

    .ans {
        margin: 1rem;
        margin-top: 0rem;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .navigate {
        margin: 0.2rem;
        margin-top: 0rem;
        width: 100%;
    }

    .final-navbar {
        margin-top: 0.3rem;
        margin: 0rem;
        width: 100%;
    }

    .browse {
        padding: 0.5rem;
        display: flex;
        margin: 0rem;
    }

    .browse .headings {
        font-weight: 800;
        font-size: 1rem;
        text-decoration: underline;
    }

    .browse .features {
        font-size: 1.1rem;
        font-weight: 600;
        font-style: italic;
        cursor: pointer;
    }

    .generale {
        margin: 0rem;
    }

    .browse-career {
        margin: 0rem;
        margin-left: 4rem;
    }

    .final-image {
        width: 100%;
        margin: 0rem;
    }

    .final-image img {
        margin-top: 1rem;
        width: 100%;
    }

    .footer ul {
        margin-top: 1rem;
    }

    .back-icon {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .signup {
        margin-top: 1rem;
    }

    .back-icon-company-profile {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.main-form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.small {
    margin: 1rem;
    padding: 1rem;
}

.small h4 {
    text-align: center;
}

.title {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.title h3 {
    font-size: 2rem;
    color: #005eff;
    text-align: center;
}